.contact_icons-phone{
    display: flex;
    flex-direction: column;
  color: white;
}
.contact_icons-text-icon svg{
  margin-right: 10px;
}

@media all and (max-width: 500px){
    .contact_icons-phone{
        display: flex;
        flex-direction: row;
      }
  } 