 .contact_icons-geo{
  display: flex;
  flex-direction: column;
  color: white;
  }

  

  @media all and (max-width: 500px){
    .contact_icons-geo{
        display: flex;
        flex-direction: row;
      }
  } 