.box-market {
  display: flex;
  justify-content: center;
  padding: 40px;
  
}
.box-market img {
  border-radius: 30px;
  padding: 15px;
}
.box-market_burg-one{
  width: 650px;
}
.box-market_burg-two{
  width: 550px;
  height: 220px;
  
}
.box-market_burg-three{
  width: 550px;
  height: 220px;
}
.slogan-marketing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnTestyBurg {
  background-color: #ffc758;
  padding: 12px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1.2px;
  border-radius: 3px;
  box-shadow: 0 -3px #fcae13 inset;
  transition: 0.2s;
}
.btnTestyBurg:hover{
  background-color: #fcae13;
}
.chooseEnjoy {
  font-family: "Roboto", sans-serif;
  color: #3c2513;
  letter-spacing: -1.5px;
  font-size: 46px;
  font-weight: bolder;
}
.slogan {
  width: 800px;
  font-family: "Roboto", sans-serif;
  color: #7e5f46;
  text-align: center;
  font-size: 18px;
  margin-top: -15px;
}

.box-button h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

@media all and ( max-width: 800px) {
  
  
  .box-market-two{
   display: none;
  }

  .chooseEnjoy{
    font-size: 37px;
  }
  .slogan {
    width: 700px;
  }
}

@media all and ( max-width: 500px) {
  .box-market_burg-one{
    width: 400px;
  }
  .chooseEnjoy{
    font-size: 30px;
    text-align: center;
  }
  .slogan {
    width: 400px;
  }

}
