.carousel {
  width:640px;
  height:360px;
}

.carousel .carousel-indicators button {
  width: 15px;
 height: 15px;
 border-radius: 100%;
 
 
}
.box-slider{
  padding: 20px;
}

.box-about{
  display: flex;
  padding-top: 150px;box-shadow: 3px 6px 7px 5px rgba(247, 185, 16, 0.5);
}

.box-text h1{
  text-align: center;
}

.box-text{
  
  margin: 15px;
  font-family: 'Roboto', sans-serif;
}
.box-text p{
  font-size: 18px;
  padding: 15px;
  line-height: 25px;
 
  
}