.app-nav{
  display: flex;
  justify-content: space-between;
  background: #ffc758;
  position: fixed;
  width: 100%;
}
.burger p{
  font-size: 30px;
  letter-spacing: -2px;
  padding: 5px;
  margin: 5px;
}

.nav-left{
  margin: 10px;

}

.nav-right{
  margin: 10px;

}

.link-menu{
  margin: 0 10px ;
  text-decoration: none;
  color: #492d18;
  letter-spacing: -2;
}
.link-logo {
  font-size: 25px;
  font-weight: bold;
  color: #684022;
  text-decoration: none;
}
/* nav {
  
 
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.burger p{
  font-size: 30px;
  letter-spacing: -2px;
  padding: 5px;
}
.telephone {
  font-size: 18;
}
@-webkit-keyframes pulsate {
  50% { color: rgb(59, 39, 2); text-shadow: 0 -1px rgba(250, 250, 238, 0.3), 0 0 5px rgb(231, 231, 146), 0 0 8px rgb(46, 42, 42); }
 }
 @keyframes pulsate {
  50% { color: rgb(59, 39, 2); text-shadow: 0 -1px rgba(253, 253, 238, 0.3), 0 0 5px rgb(238, 238, 131), 0 0 8px rgb(127, 134, 57); }
 }
 .telephone {
   color: rgb(39, 38, 38);
   text-shadow: 0 -1px rgba(0,0,0,.1);
   -webkit-animation: pulsate 1.2s linear infinite;
   animation: pulsate 1.2s linear infinite;
 }
.logo {
  display: flex;
  justify-content: space-between;
  color: #3c2513;
  padding: 0px 30px 0px 30px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-top: -20px;
}

.link {
  text-decoration: none;
  color: #492d18;
  padding-right: 30px;
  letter-spacing: -2;
}

.link-logo{
  font-size: 25px;
  font-weight: bold;
  color: #684022;
}

.link-menu{
   font-size: 18px;
}

.img-start {
  width: 100%;
}

@media all and ( max-width: 800px){

  .link-menu{
    font-size: 15px;
 }
 .link-logo{
font-size: 18px;
 }


} */