.cart {
  margin-right: 30px;
  align-items: center;
  position: relative;
}

.cart_icons {
  cursor: pointer;
}

.box-cart_item {
  top: 34px;
  left: -300px;
  background-color: white;
  width: 400px;
  padding: 10px 20px;
  z-index: 2;
  border-radius: 15px;
  color: black;
}

.box-cart_item-price {
  margin-top: 10px;
  padding: 8px;
  border-top: 1px solid #ffa513;
}

.box-cart_btn-total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15 px;
}

.box-cart_btn-total-price {
  background-color: #ffa513;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
}

.cart-item {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item_price {
  display: flex;
  align-items: center;
}

.quantity-items {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8513;

  z-index: 2;
  left: 15px;
  top: -10px;
}
